body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(0, 128, 128, 0.1);
    background-size: cover;
}
html, body {
    margin: 0;
    padding:  0;
    width: 100;
    height: 100;
    font-family: Poppins !important;
    scroll-behavior: smooth;

}
header{
    display:block;
    width:100%; 

}
.card-content{
    margin-left: 15px !important;
    margin-top: 2%;
}
p{
    font-size: 1.3rem !important;
}
li{
    font-size: 1.25rem;

}
.logo-div 
{
    color: #fff;
    height:60px;
    line-height: 60px;
    background: bisque;
    float: left;
    width:100%;
}

.main-logo
{

    padding-left: 30px;
    
}
.logo-img{
    width:300px;
}
.desc-logo{
    font-size: 22px;
    font-weight: lighter;
    padding-left: 20px;
    color: dimgray;
    position: absolute;
    top:3px
}

nav{
    float: left;
    clear:both;
    background: blueviolet;
    width:100%;

}
 nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav ul li{
    list-style-type: none;
    
}
nav ul li a{

line-height: 56px; 
padding: 10px 20px;
    
color: #fff;
text-decoration:none;
background: transparent;
text-align: center;
border-radius: 5px;
font-family: sans-serif;
border: none;  
    

}

nav ul li a:hover{
    color: #fff;
    background:black;
    transition-duration: .7s;
}
nav ul li a.active{
    color: #fff;
    transition-duration: .7s;
}


.menu-toggle{
    color:#fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.img-div{
    text-align: center;
    width: 100%;
}


.box{
    margin-left: 2%;
}
.inputbox{
    padding-top: 14px;
}
input[type=text] {
    border: 2px solid grey;
    border-radius: 4px;
    height: 40px;
    width: 30%;

  }
label{
    font-size: 1.4rem ;
}
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  select {
    width: 15%;
    padding: 16px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;

  }
  form:invalid>#submit {
    pointer-events: none;
  }


 .site-footer
 {
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    background-color: black!important;
    color: white!important;

 }
 .site-footer hr
 {
   border-top-color:#bbb;
   opacity:0.5
 }
 .site-footer hr.small
 {
   margin:20px 0
 }
 .site-footer h6
 {
   color:#fff;
   font-size:16px;
   text-transform:uppercase;
   margin-top:5px;
   letter-spacing:2px
 }
 .site-footer a
 {
   color:#737373;
 }
 .site-footer a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links
 {
   padding-left:0;
   list-style:none
 }
 .footer-links li
 {
   display:block
 }
 .footer-links a
 {
   color:#737373
 }
 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links.inline li
 {
   display:inline-block
 }
 .site-footer .social-icons
 {
   text-align:right
 }
 .site-footer .social-icons a
 {
   width:40px;
   height:40px;
   line-height:40px;
   margin-left:6px;
   margin-right:0;
   border-radius:100%;
   background-color:#33353d
 }
 .copyright-text
 {
   margin:0
 }
 @media (max-width:991px)
 {
   .site-footer [class^=col-]
   {
     margin-bottom:30px
   }
 }
 @media (max-width:767px)
 {
   .site-footer
   {
     padding-bottom:0
   }
   .site-footer .copyright-text,.site-footer .social-icons
   {
     text-align:center
   }
 }
 .social-icons
 {
   padding-left:0;
   margin-bottom:0;
   list-style:none
 }
 .social-icons li
 {
   display:inline-block;
   margin-bottom:4px
 }
 .social-icons li.title
 {
   margin-right:15px;
   text-transform:uppercase;
   color:#96a2b2;
   font-weight:700;
   font-size:13px
 }
 .social-icons a{
   background-color:#eceeef;
   color:#818a91;
   font-size:16px;
   display:inline-block;
   line-height:44px;
   width:44px;
   height:44px;
   text-align:center;
   margin-right:8px;
   border-radius:100%;
   -webkit-transition:all .2s linear;
   -o-transition:all .2s linear;
   transition:all .2s linear
 }
 .social-icons a:active,.social-icons a:focus,.social-icons a:hover
 {
   color:#fff;
   background-color:#29aafe
 }
 .social-icons.size-sm a
 {
   line-height:34px;
   height:34px;
   width:34px;
   font-size:14px
 }
 .social-icons a.facebook:hover
 {
   background-color:#3b5998
 }
 .social-icons a.twitter:hover
 {
   background-color:#00aced
 }
 .social-icons a.linkedin:hover
 {
   background-color:#007bb6
 }
 .social-icons a.dribbble:hover
 {
   background-color:#ea4c89
 }
 @media (max-width:767px)
 {
   .social-icons li.title
   {
     display:block;
     margin-right:0;
     font-weight:600
   }
 }











    










